@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes pulsate {
  0%,100%  {
   
    opacity: 0.1;
    transform:scale(1);
    
  }
  
  50%{
    opacity: 0.15;
    transform:scale(1.3);
  }
}

@keyframes pulsate1 {
  0%,100%  {
   
    opacity: 0.1;
    transform:scale(1);
    
  }
  
  50%{
    opacity: 0.15;
    transform:scale(1);
  }
}

.pulsate-element {
  animation: pulsate 3s infinite ease-in-out;
  transform-origin: center;
  will-change: transform, opacity;
}